<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde illo laborum laudantium id quos minima, nam debitis quis voluptates? Animi voluptas provident assumenda rem. Ipsum sapiente nulla autem illum illo.
</p>