<h1 class="animated fadeIn">{{heroe.nombre |uppercase}} <small>({{heroe.aparicion | date:'y'}})</small></h1>
<hr/>

<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
        <br/><br/>
        <a routerLink="/heroes/listado" class="btn btn-outline-danger btn-block">Regresar...</a>
    </div>
    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr/>
        <p>
            {{heroe.bio}}
        </p>
        <div>
            <img class="logo-casa" *ngIf="casaDC; else elseTemplate" src="assets/img/dc-logo.png" [alt]="heroe.nombre">
            <ng-template #elseTemplate>
                <img class="logo-casa" src="assets/img/marvel-log.png" [alt]="heroe.nombre">
            </ng-template>
        </div>
    </div>
</div>