<h1>Buscando:<small>{{valorbusqueda}}</small></h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="heroes.length==0">
    <div class="col-md-12">
        <div class="alert alert-info">
            No existen resultados con el término:{{valorbusqueda}}
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3  card-deck">
        <div class="col-mb-4 space-card" *ngFor="let heroe of heroes">
            <div class="card animated fadeIn fast">
                <img [src]="heroe.img" class="card-img-top img-fluid " [alt]="heroe.nombre">
                <div class="card-body">
                    <h5 class="card-title">{{heroe.nombre}}</h5>
                    <p class="card-text" *ngIf="heroe.bio.length==143">{{heroe.bio}}</p>
                    <p class="card-text" *ngIf="heroe.bio.length >143">{{heroe.bio| slice:0:143}}...</p>
                    <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
                    <button [routerLink]="['/heroes/heroe',heroe.idx]" class="btn btn-outline-primary btn-block">Ver más...</button>

                    <!-- <a [routerLink]="[ '/heroes/heroe', i ]" class="btn btn-outline-primary btn-block">Ver más...</a> -->
                </div>
            </div>
        </div>
    </div>
</div>