<h1>Heroes <small>Marvel y DC</small></h1>
<hr>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3  card-deck">
        <div class="col-mb-4 space-card" *ngFor="let heroe of heroes let i =index">
            <div class="card animated fadeIn fast">
                <img [src]="heroe.img" class="card-img-top img-fluid " [alt]="heroe.nombre">
                <div class="card-body">
                    <h5 class="card-title">{{heroe.nombre}}</h5>
                    <p class="card-text" *ngIf="heroe.bio.length==143">{{heroe.bio}}</p>
                    <p class="card-text" *ngIf="heroe.bio.length >143">{{heroe.bio| slice:0:143}}...</p>
                    <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
                    <button (click)="verHeroe(i)" class="btn btn-outline-primary btn-block">Ver más...</button>

                    <!-- <a [routerLink]="[ '/heroes/heroe', i ]" class="btn btn-outline-primary btn-block">Ver mas...link</a> -->
                </div>
            </div>
        </div>
    </div>
</div>